@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

.w-62px {
  width: 62px;
}

.h-60px {
  height: 60px;
}

.w-460px {
  width: 460px;
}

.h-260px {
  height: 260px;
}


@media (max-width: 400px) {
  .text-xxs {
    font-size: 11px;
  }
}